.App {
  text-align: center;
}
.game-container {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "title title"
  "team-1 team-2"
  "grid grid";
}
h1 {
  grid-area: title;
}
.team {
  border: 1px solid black;
}
.team-1 {
  grid-area: team-1;
}
.team-2 {
  grid-area: team-2;
}
.grid {
  grid-area: grid;
}
