body {
  font-size: 15px;
}
.App {
  text-align: center;
}
.game-container {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "title title"
  "team-1 team-2"
  "grid grid";
}
h1 {
  grid-area: title;
}
.team {
  border: 1px solid black;
}
.team-1 {
  grid-area: team-1;
}
.team-2 {
  grid-area: team-2;
}
.isTurn {
  background: cyan;

}
.grid {
  grid-area: grid;
}
.categories-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.category-single {
  margin: 20px;
}
.card {
  border: 1px solid black;
  margin: 10px;
  min-width: 25vw;
  min-height: 15vh;
}
.btn {
  background: purple;
  color: white;
  margin-bottom: 5px;
  max-width: 100px;
}
